<?xml version="1.0"?>
<robot name="planesil" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="joint_transmission" params= "joint_name">
        <transmission name="${joint_name}_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_servo">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>10</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>


<!-- 
xacro template:
<?xml version="1.0"?>
<robot name="planesil" xmlns:xacro="http://www.ros.org/wiki/xacro">

</robot> -->

</robot>
