<launch>
    <arg name="model" value="$(find planesim_description)/urdf/planesil_model.xacro"/>
    <arg name="rviz_conf" value="$(find planesim_description)/rviz/rvizConfig.rviz"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="true" />
</launch>